@model WeightHelperWeb.Models.WeightSelectorViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p></p>
    <form>
    
    </form>
    @foreach(var weight in Model.AvailableWeights){
        <div class="weight">
            test!
        </div>
    }
</div>
